
body {
    background-color: whitesmoke;
    padding: 20px;
    margin:5px;
}
 
#all {
    display:flex;
    justify-content: center;
}

#main {
    border:1px solid black;
    background-color: aliceblue;
    padding:5px;
    text-align: center;
}
 
#send {
    font-size: xx-large;
    color:aliceblue;
}


form {
    max-width: 900px;
    padding: 8px;
}

#title {
    text-align: center;
    font-weight:bolder;
    font-family: 'Courier New', Courier, monospace;
}

#title-info {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-weight: 200;
}

/* #name {

}

#email {

} */

input[type=text]:invalid {
    border: rgb(255, 27, 27) solid 2px;
}

input[type=text]:valid {
    border: rgb(2, 208, 2) solid 2px;
}

#select-menu {
    text-align: center;
    padding: 1px;
}