
body {
    background-color: whitesmoke;
    padding: 20px;
    margin:5px;
}
 
#all {
    display:flex;
    justify-content: center;
}

#main {
    border:1px solid black;
    background-color: aliceblue;
    padding:5px;
}
 
form {
    max-width: 900px;
    padding: 8px;
}

#title {
    text-align: center;
}

#title-info {
    text-align: center;
}

/* #name {

}

#email {

} */

imput[type=text]:invalid {
    border: red solid 2px
}

imput[type=text]:valid {
    border: green solid 2px
}