
body {
    background-color: whitesmoke;
    max-width: 900px ;
}
 
#all {
    display:flex;
    justify-content: center;
}

#main {
    border:1px solid black;
    background-color: aliceblue;
    padding:5px;
}