body {
margin:0px;
background-color: aliceblue;
}

.top-page {
background-image: url("../assets/images/nexflix-img\ copy.jpeg");
height:300px;

}

nav {
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content:space-around;
}

#sign-in {
    justify-content: end;
    align-items: center;
    display: flex;
}

#language {
    display: flex;
    align-self:center;
}



button {
    color: white;
    background-color: crimson;
}

section {
    justify-content: center;
    padding: 5px;
    display: flex;
    color: white;
}

main {
margin:0px;
}

footer {
background-color: beige;
}

#logo1 {
    width:100px;
    height:auto;
    align-self: flex-start;
    display: flex;
}

