
body {
    margin:0;
    background-color: aliceblue;
}

#hero {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lavender;
}

#MyCountdown {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}