 
/* fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */


  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Montserrat&display=swap');


 .site-hero {
    background-image: url("../assets/images/image2/rufus-o-dea-p3Loavrv6z8-unsplash.jpg");
    height: 80vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
 }
 
.hero-text h2 {
    margin-top:0;
    font-size: 4em;
    text-shadow: 10px 4px 5px rgb(229, 199, 182);
}

.hero-text h4 {  
    font-size: 2em;
    text-shadow: 8px 3px 3px rgb(222, 198, 174);
} 

.hero-text {
    text-align: center;
    font-family:'Bebas Neue', cursive; ;
    font-weight: bold;
    font-style: italic;
    color:rgb(255, 255, 255);
}

.site-hero .hero-text {
    background-color: #ffcfa8;
    padding-right:900px;
    padding-left: 900px;
    padding-top: 30px;
    margin: 10px;
    box-shadow: inset 1px 5px 85px 3px rgb(253, 223, 190);
}



/* Image Grid Here */

.container {
    display: flex;
}


/* .col-lg-4 #img-1 {
    width: 200px;
    width: 200px;
    height:200px;
    margin:3px;
    
} */

/* .col-lg-4 #img-4 {
    width: 200px;
    width: 200px;
    height:200px;
    margin:3px;
    
} */

/* .col-lg-4 #img-7 {
    width: 200px;
    width: 200px;
    height:200px;
    margin:3px;
    
} */



/* #img-1 {
    width:200px;
    object-fit: contain;
    max-height: 200px;
   margin:10px;
   padding:10px;
    min-width:200px; 
    max-width:200px;
    min-height:200px;
    max-height:200px; 

    background-color: aliceblue;
}

#img-2 {
    object-fit: contain;
   width:200px;
   max-height: 200px;
   margin:10px;
   padding:10px;
}

#img-3 {
    width:200px;
    object-fit: contain;
    max-height: 200px;
   margin:10px;
   padding:10px;
} */

/* #img-4 {
    width:200px;
    
}

#img-5 {
    width:200px;
   
}

#img-6 {
    width:200px;
   
}

#img-7 {
    width:200px;
   
}

#img-8 {
    width:200px;
    
}

#img-9 {
    width:200px;
    
} */

.col {
    background-color:black;
    justify-content:center;
    align-items: center;
    /* flex-direction:;  */
    width:260px;
    margin:1px;
    columns:3;
}

/* Carousel */

.carousel-item img {
    object-fit:contain;
    max-height: 600px;
    max-width: 100%;
    min-height:600px;
    background-color: rgb(0, 0, 0);
}

/* body {
    color: #e2b291;
} */