 
/* fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */


  /* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Montserrat&display=swap'); */

  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

  
  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');






 .site-hero {
    background-image: url("../assets/images/image2/rufus-o-dea-p3Loavrv6z8-unsplash.jpg");
    height: 80vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
 }
 
.hero-text h2 {
    margin-top:0;
    font-size: 4em;
    /* text-shadow: 10px 4px 5px rgb(229, 199, 182); */
}
 

.hero-text h2 {
    font-family: 'Lobster', cursive;;
}



.hero-text h4 {  
    font-size: 2em;
    /* text-shadow: 8px 3px 3px rgb(222, 198, 174); */
} 

.hero-text {
    text-align: center;
    font-family:'Montserrat', sans-serif;;
    font-weight: bold;
    font-style: italic;
    color:rgb(255, 255, 255);
}

.site-hero .hero-text {
    background-color: #ffcfa8;
    padding-right:900px;
    padding-left: 900px;
    padding-top: 30px;
    margin: 10px;
    /* box-shadow: inset 1px 5px 85px 3px rgb(253, 223, 190); */
}



/* Image Grid Here */

.container {
    display: flex;
}




.img-container {
    height:30vh;
    text-align: center;
    padding:10px;
    margin:40px;
}

img {
    height:100%;
    border-radius: 5px;
}


/* Carousel */

.carousel-item img {
    object-fit:cover;
    max-height: 600px;
    max-width: 100%;
    min-height:600px;
    background-color: rgb(0, 0, 0);
}

/* body {
    color: #e2b291;
} */

/* content */
.content-header {
    font-family: 'Lobster', cursive; ;
}

.content-subhead {
    font-family: 'Lobster', cursive; ;
}

.content-content {
    font-family: 'Montserrat', sans-serif; ;
}

/* footer */
.footer-left h4 {
    font-family: 'Lobster', cursive; ;
}

.footer-left li {
    font-family: 'Montserrat', sans-serif; ;
}

.footer-right h4 {
    font-family: 'Lobster', cursive; ; ;
}

.footer-right h6 {
    font-family: 'Lobster', cursive; ; ;
}

.footer-right p {
    font-family: 'Montserrat', sans-serif; ;
}

.footer-feet p {
    font-family: 'Montserrat', sans-serif; ;
}