.container {
    display:grid;
    /* grid-template-columns: 50px 50px 50px 50px; */
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(4, 50px); */

    /* grid-template-rows: auto; */
    grid-template-rows: 1fr 1fr 1fr;
    
    /* grid-template-areas: 
    "header header header header"
    "main main . nav"
    "footer footer footer footer"; */
    height:100vh;
}

#box1 {
    background-color: orange;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

#box2 {
    background-color: brown;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

#box3 {
    background-color: aquamarine;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#box4 {
    background-color:lightgray;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}