nav a{
    color: inherit;
    text-decoration: none;
}

.navbar {
    display:flex;
    align-items: center;
    margin-left: 15px;
    color:white;
}

.navbar li {
    margin-right: 10px;
    font-weight:bold;
    transition: 0.15s ease;
    transition-property: color;
}

.navbar li:hover {
    color:black;
}

.navbar li::after {
    content: " | ";
    color:rgb(167, 6, 38);
}
 
.nav-button {
    position: relative;
    z-index: 99;
    height:50px;
    width: 150px;
    background-color: white;
    background-position: top;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: inherit;
    font-variant: small-caps;
    cursor: pointer;
    transition: 0.5s;
    transition-property: box-shadow;
}
.nav-button:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.nav-button:active {
    color:rgb(201, 16, 53);
}

.arrow {
    transform: rotate(180deg);
    transition: 0.5s;
    display:inline-block;
    transition-property: transform;
}

.subpages {
    display:flex;
    visibility: hidden;
    position: absolute;
    z-index: 2;
    left: 25px;
    top: 50px;
    border: 1px solid black;
    padding: 10px;
    width: 110px;
    height:0px;
    background-color: rgb(201, 16, 53);
    color:white;
    /* opacity:0; */
    transition: 0.5s;
    overflow: hidden;
    padding-top: 15px;
    transition-property: height, top, visibility;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
}

.subpages li::after {
    content: " ";
}

.reveal {
    visibility: visible;
    /* opacity: 1; */
    height: 120px;
    top: 70px;
}

.arrow-flip {
    transform: rotate(0deg);
}