
#nav1 {
    background-color: blanchedalmond;
    color:black;
    border-color: black;
    padding:1px;
    
}


.dropdown-menu {
    position:absolute;
    z-index:99;
    display:none;
    background-color: blanchedalmond;
    
    
}

.dropdown:hover .dropdown-menu {
        display:block;
        background-color: bisque;
        color:bisque;
        border:2px bold;
        border-color: black;
}



body {
    margin:0;
    background-color: aliceblue;
}

a {
    text-decoration: none;
    
}

#nav1 a {
    text-decoration: none;
    color:black;

}

#nav1 a:hover {
    text-decoration: underline;
}

li {
    list-style-type: none;
    

}

ul {
   display: flex;
   padding:15px;
   gap:60px;
   font-size: x-large ;
   justify-content: center;
}

#title {
    display:flex;
    
    
}