/* Base Body */
body {
margin:0px;
background-color: black;
}

/* top page */

/* linear-gradient(black, transparent, black 99%), */
.top-page {
background:  url("../assets/FinalEvalAssets/background.jpeg");

height:800px;
width:auto;

} 

.logo {
    width:500px;
    height:auto;
}

#disney-bundle {
    height:40px;
}

.email {
    display:flex;
    justify-content: center;
}

.href {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: underline;
}
/* NAVAGATION BAR */

nav {
    /* background-color: black; */
    display: flex;
    justify-content: flex-end;
    
}
  
#sign-in {
    margin: 50px;
    width:60px;
}
 
#email {
    margin:0px;
    
}

button {
    color: white;
    background-color: black;
    
}

.button {
    color:white;
    background-color: blue;
}

section {
    justify-content: center;
    padding: 100px;
    
    text-align: center;
    color: white;
   align-items: center;
}
/* Main parts */
main {
margin:0px;
}




.logo1 {
    width:100px;
    height:auto;
    padding:15px;
    margin-right: auto;
}

.list {
    display:flex;
    justify-content: center;
    margin:10px;
    padding:10px;

}

.item {
    padding: 18px;
    list-style: none;
    color: aliceblue;
    font-size: xx-large;
}

.img-grid {
margin:0px;
display:flex;
background-color: black;
color: black;
width:100vh;
height:100%;
}

.img-0 {
    width:500px;
    height:600px;
    margin:30px;
}

.row {
    display:flex;
    justify-content: center;
}

.col {
    align-items: center; 
    
}


/* FOOTER */

footer {
background-color: rgb(254, 254, 254);
display:flex;
}

#language {
    
    margin: 50px;
}

