/* Base Body */
body {
margin:0px;
background-color: black;
}

/* top page */

/* linear-gradient(black, transparent, black 99%), */
.top-page {
background:  url("../assets/FinalEvalAssets/background.jpeg");

height:fit-content;
width:auto;

} 

.logo {
    width:500px;
    height:auto;
}
 
.logo2 {
    width:100px;
    height:auto;
    padding:15px;
     margin-right: auto;
}

#disney-bundle {
    height:40px;
}

.email {
    display:flex;
    justify-content: center;
}

.href {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: underline;
}
/* NAVAGATION BAR */

.nav {
    /* background-color: black; */
    display: flex;
    justify-content: flex-end;
    
}
  
.sign-in {
    margin: 50px;
    width:200px;
    height:90px;
    max-width: 130px;
    max-height: 50px;
    font-size: large; 
}

.sign-in2 {
    margin: 50px;
    width:200px;
    height:90px;
    max-width: 130px;
    max-height: 50px;
    font-size: large; 
    background-color: rgb(0, 119, 255);
}
 
 
#email {
    margin:0px;
    
}

button {
    color: white;
    background-color: black;
    
}

.button {
    color:white;
    background-color: rgb(0, 119, 255);
}

.text1 {
    font-size: large;
}

section {
    justify-content: center;
    padding: 100px;
    
    text-align: center;
    color: lightgray;
   align-items: center;
}
/* Main parts */
main {
margin:0px;
}






.list {
    display:flex;
    justify-content: center;
    margin:10px;
    padding:10px;

}

.item {
    padding: 18px;
    list-style: none;
    color: aliceblue;
    font-size: xx-large;
}

.img-grid {
margin:0px;
display:flex;
background-color: black;
color: black;
width:100vh;
height:100%;
}

.img-0 {
    width:500px;
    height:490px;
    margin:30px;
}

.row {
    display:flex;
    justify-content: center;
}

.col {
    align-items: center; 
    
}


/* FOOTER */

footer {
background-color: black;

text-align-last: center;
}


/* foot container */
.foot-box {
    align-items: center;
   
}

/* logo */
.logo1 {
    width:160px;
    height:auto;
    padding:0px;
    justify-self: center;
}

/* link container */



#language {
    color:white;
    background-color: black;
    margin: 1px;
}

a {
    color: whitesmoke;
    font-size: small;
    text-decoration-style:solid;
}